*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    padding: 18px 120px;
}
nav .menu{
    list-style-type: none; 
    align-items: center;
    display: flex;
    gap: 32px;

}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color:#000000;
    opacity: 90%;
    margin-right: 32px;    
}
.btn{
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    margin-right: 120px;
}

#banner{
    /*margin: 70px 120px 134px 120px;*/
    align-items: middle;
    justify-content: center;
    /*padding: 70px 120px 134px 120px;*/
    background-image: url("../images/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 115.5px 120px 179.5px 120px;
}
#banner .container {
    
    max-width: 1360px;
    align-items: center;
    justify-content: center;
}
#banner .container .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
    padding: 16px auto 16px auto;
}
#banner .container .banner-content p{
    font-size: 18px;
    color: white;
    align-items: middle;
    gap: 16px;
    margin-bottom: 32px;
    /*max-width: 900px;
    margin: 2rem auto;*/
}
#banner .banner-image button{
    max-width: 1360px;
    padding: 32px, 447.5px;
}

.badge {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #E0F7EA;
            color: #469165;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2rem;
}

#about .about-container{
    
    max-width: 1360px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#about .about-container .info{
    display: flex;
    justify-content: space-around;
    margin-top: 44px 120px;
    
}
#about .about-container .info .info-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    width: 322px;
    height: 300px;
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);

}
#about .about-container .info .info-card h4{
    font-family: Inter, sans-serif;
    font-weight: semi-bold;
    font-size: 24px;
}
#about .about-container .info .info-card p{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    
}
/*section-heading{
    height: 152px;
}*/
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 116px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
    font-size: 400;
}
