*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    padding: 18px 120px;
}
nav .menu{
    list-style-type: none; 
    align-items: center;
    display: flex;
    gap: 32px;

}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color:#000000;
    opacity: 90%;
    margin-right: 32px;    
}
.btn{
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    margin-right: 120px;
}
.btn:hover{
	background: whitesmoke;
	color: #001931;;
}
.btn1{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
}
.btn1:hover{
    background: whitesmoke;
    color: #001931;;
}

#banner{
    /*margin: 70px 120px 134px 120px;*/
    
    text-align: center;
    /*padding: 70px 120px 134px 120px;*/
    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 115.5px 120px 179.5px 120px;
}
#banner .container {
    
    max-width: 1360px;
    align-items: center;
    justify-content: center;
}
#banner .container .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
    padding: 16px auto 16px auto;
}
#banner .container .banner-content p{
    font-size: 18px;
    color: white;
    align-items: middle;
    gap: 16px;
    margin-bottom: 32px;
    /*max-width: 900px;
    margin: 2rem auto;*/
}
#banner .banner-image button{
    padding: 32px, 447.5px;
}

.badge {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #E0F7EA;
            color: #469165;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2rem;
}

#about .about-container{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 48px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin:0px auto
}

#about .about-container .info{
    display: flex;
    justify-content: space-around;
    margin-top: 44px 120px;
    
}
#about .about-container .info .info-card{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    width: 20%;
    height: 300px;
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);

}
#about .about-container .info .info-card h4{
    font-family: Inter, sans-serif;
    font-weight: semi-bold;
    font-size: 24px;
}
#about .about-container .info .info-card p{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    
}
/*section-heading{
    height: 152px;
}*/
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 116px;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
    font-size: 400;
}
#features{
    padding:120px;
}
#features .features-container{
    display: flex;
}
#features .features-container img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#features .features-container .features-text{
    margin-top: 102px;
    margin-bottom: 102px;
    margin-left: 60px;
}
#features .features-container .features-text h2{
    margin-top: 16px;
    margin-bottom: 16px;;
}
#features .features-container .features-text p{   
    margin-bottom: 40px;
    color: #627382;
}
#features .features-container .features-text .features-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
}
#join{
    padding: 0 120px 120pxx 120px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}
#join .join-container{
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px 80px 40px;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #001931;
    max-width: 1600px;
    text-align: center;
    color: white;
    margin: 0 auto;
}
.footer-container{
    display: flex;
    
    padding: 120px 120px 164px 120px;
    justify-content: space-between;
    align-items: center;    
}
.footer-container .footer-body{
    display: flex;
    gap: 160px;
}